
<h1>Vinyl Database</h1>
<h2>Albums</h2>
<div class="homepageDescription">
    <p>Gabe Happ-Shine Peter Battisti Group 95</p>
</div>
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each albums.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

      <tbody>
         {{#each albums}}
        <tr>
            <td>{{this.albumID}}</td>
            <td>{{this.title}}</td>
            <td>{{this.genreID}}</td>
            
            <form id='delete_album_form' method='POST' action="/albums/delete">
                <input type='hidden' name='delete_album_id' value='{{this.albumID}}' />
                <input type='hidden' name='delete_album_name' value='{{this.title}}' />
                
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>

            
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Create a Album</h2>
<form class='cuForm' id='create_album_form' method='POST' action='/albums/create'>
    <label for='create_album_title'>Title: </label>
    <input type='text' name='create_album_title' id='create_album_title' required />
    <label for='choose_genre'>Genre: </label>
    <select name='choose_genre' id='choose_genre' required>
        <option value='' disabled selected>Select a Genre</option>
        {{#each genres}}
        <option value='{{this.genreID}}' required>
            {{this.ID}}
            -
            {{this.genreID}}
            
            
        </option>
        {{/each}}
    </select>
    

    <input type='submit' />
</form>
{{! UPDATE form }}
<h2>Update a Album</h2>
<form class='cuForm' id='update_album_form' method='POST' action="/albums/update">
    <label for='update_album_id'>Album to Update: </label>
    <select name='update_album_id' id='update_album_id' required>
        <option value='' disabled selected>Select an Album</option>
        {{#each albums}}
        <option value='{{this.albumID}}' required>
            {{this.albumID}}
            -
            {{this.title}}
            
            
        </option>
        {{/each}}
    </select>

   <label for="update_album_title">New Title:</label>
    <input type="text" name="update_album_title" id="update_album_title" required />

    <label for='update_album_genre'>New Genre: </label>
    <select name='update_album_genre' id='update_album_genre' required>
        <option value='' disabled selected>Select a Genre</option>
        {{#each genres}}
        <option value='{{this.genreID}}' required>
            {{this.ID}}
            -
            {{this.genreID}}
            
            
        </option>
        {{/each}}
    </select>
    
    <input type='submit' />
    
</form>