<h1>Vinyl Database</h1>
<div class="homepageDescription">
    <p>Gabe Happ-Shine Peter Battisti Group 95</p>
</div>
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            <th>Artist ID</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>

      <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each artists}}
        <tr>
            <td>{{this.artistID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <form id='delete_artist_form' method='POST' action="/artists/delete">
                <input type='hidden' name='delete_artist_id' value='{{this.artistID}}' />
                <input type='hidden' name='delete_artist_name' value='{{this.name}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>

            
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Create an Artist</h2>
<form class='cuForm' id='create_artist_form' method='POST' action='/artists/create'>
    <label for='create_name'>Name: </label>
    <input type='text' name='create_name' id='create_name' required />

     <label for='create_description'>Description: </label>
    <input type='text' name='create_description' id='create_description' required />
    

    <input type='submit' />
</form>
{{! UPDATE form }}
<h2>Update an Artist</h2>
<form class='cuForm' id='update_artist_form' method='POST' action="/artists/update">
    <label for='update_artist_id'>Artist to Update: </label>
    <select name='update_artist_id' id='update_artist_id' required>
        <option value='' disabled selected>Select an Artist</option>
        {{#each artists}}
        <option value='{{this.artistID}}' required>
            {{this.artistID}}
            -
            {{this.name}}
            
            
        </option>
        {{/each}}
    </select>

   <label for="update_artist_name">Artist Name:</label>
    <input type="text" name="update_artist_name" id="update_artist_name" required />

    <label for="update_artist_description">Description:</label>
    <input type="text" name="update_artist_description" id="update_description" required />

    <input type='submit' />
</form>