<h1>Vinyl Database</h1>
<div class="homepageDescription">
    <p>Gabe Happ-Shine Peter Battisti Group 95</p>
</div>
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each artistAlbum.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

      <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each artistAlbum}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.title}}</td>
            <td>{{this.artistHasAlbumID}}</td>
            <form id='delete_artistAlbum_form'>
                <input type='hidden' name='delete_artistAlbum_id' value='{{this.artistHasAlbumID}}' />
                <input type='hidden' name='delete_person_name' value='{{this.title}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>

            
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add an Album to an Artist </h2>
<form class='cuForm' id='add_album_to_artist_form' method='POST' action="/artist_has_album/create">
    <label for='add_artist'>Artist: </label>
    <select name='add_artist' id='add_artist' required>
        <option value='' disabled selected>Select an Artist</option>
        {{#each artists}}
        <option value='{{this.artistID}}' required>
            {{this.id}}
            -
            {{this.name}}
            
        </option>
        {{/each}}
    </select>

    <label for='add_album'>Album: </label>
    <select name='add_album' id='add_album' required>
        <option value='' disabled selected>Select an Album</option>
        {{#each albums}}
        <option value='{{this.albumID}}' required>
            {{this.id}}
            -
            {{this.title}}
            
            
        </option>
        {{/each}}
    </select>

    <input type='submit' />
</form>


<h2>Update a Record:</h2>
<form class='cuForm' id='update_album_artist_form' method='POST' action="/artist_has_album/update">
    <label for='update_album_artist_id'>Record: </label>
    <select name='update_album_artist_id' id='update_album_artist_id' required>
        <option value='' disabled selected>Select a Record to Update:</option>
        {{#each artistAlbum}}
        <option value='{{this.artistHasAlbumID}}' required>
            {{this.id}}
            -
            {{this.artistHasAlbumID}}
            
        </option>
        {{/each}}
    </select>

    <label for='update_artist_has_album_id'>New Artist: </label>
    <select name='update_artist_has_album_id' id='update_artist_has_album_id' required>
        <option value='' disabled selected>Select an Artist: </option>
        {{#each artists}}
        <option value='{{this.artistID}}' required>
            {{this.id}}
            -
            {{this.name}}
            
        </option>
        {{/each}}
    </select>

    <label for='update_album_has_artist_id'>New Album: </label>
    <select name='update_album_has_artist_id' id='update_album_has_artist_id' required>
        <option value='' disabled selected>Select an Album</option>
        {{#each albums}}
        <option value='{{this.albumID}}' required>
            {{this.id}}
            -
            {{this.title}}
            
        </option>
        {{/each}}
        <input type='submit' />
    </select>

