<h1>Vinyl Database</h1>
<div class="homepageDescription">
    <p>Gabe Happ-Shine Peter Battisti Group 95</p>
</div>
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each collectorsReleases.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

      <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each collectorsReleases}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.recordLabel}}</td>
            <td>{{this.title}}</td>
            <td>{{this.collectorHasReleaseID}}</td>
            <form id='delete_artistAlbum_form'>
                <input type='hidden' name='delete_artistAlbum_id' value='{{this.collectorHasReleaseID}}' />
                <input type='hidden' name='delete_person_name' value='{{this.recordLabel}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>

            
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add a Release to a Collector</h2>
<form class='cuForm' id='add_collecto_album_form' method='POST' action="/collector_has_release/create">
    <label for='add_collector_album_id'>Collector: </label>
    <select name='add_collector_album_id' id='add_collector_album_id' required>
        <option value='' disabled selected>Select a Collector</option>
        {{#each collectors}}
        <option value='{{this.collectorID}}' required>
            {{this.id}}
            -
            {{this.name}}
            
        </option>
        {{/each}}
    </select>

    <label for='add_album_collector_id'>Release: </label>
    <select name='add_album_collector_id' id='add_album_collector_id' required>
        <option value='' disabled selected>Select a Release</option>
        {{#each releases}}
        <option value='{{this.releaseID}}' required>
            {{this.id}}
            -
            {{this.recordLabel}}
            {{this.title}}
            
        </option>
        {{/each}}
    </select>

    <input type='submit' />
</form>


<h2>Update a Record:</h2>
<form class='cuForm' id='update_collector_has_album_form' method='POST' action="/collector_has_release/update">
    <label for='update_collector_has_album_id'>Record: </label>
    <select name='update_collector_has_album_id' id='update_collector_has_album_id' required>
        <option value='' disabled selected>Select a Record to Update:</option>
        {{#each collectorsReleases}}
        <option value='{{this.collectorHasReleaseID}}' required>
            {{this.id}}
            -
            {{this.collectorHasReleaseID}}
            
        </option>
        {{/each}}
    </select>

    <label for='update_collector_id'>New Collector: </label>
    <select name='update_collector_id' id='update_collector_id' required>
        <option value='' disabled selected>Select a Collector</option>
        {{#each collectors}}
        <option value='{{this.collectorID}}' required>
            {{this.id}}
            -
            {{this.name}}
            
        </option>
        {{/each}}
    </select>

    <label for='update_release_id'>New Release: </label>
    <select name='update_release_id' id='update_release_id' required>
        <option value='' disabled selected>Select a Release</option>
        {{#each releases}}
        <option value='{{this.releaseID}}' required>
            {{this.id}}
            -
            {{this.recordLabel}}
            {{this.title}}
            
        </option>
        {{/each}}
    </select>

    <input type='submit' />

</form>