<h1>Vinyl Database</h1>
<h2>Collectors</h2>
<div class="homepageDescription">
    <p>Gabe Happ-Shine Peter Battisti Group 95</p>
</div>
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            <th>Collector ID</th>
            <th>Name</th>
            
            <th>Email</th>
            <th>Address</th>
            <th></th>
        </tr>
    </thead>

      <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each collectors}}
        <tr>
            <td>{{this.collectorID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.address}}</td>

            <form id='delete_collector_form' method='POST' action="/collectors/delete">
                <input type='hidden' name='delete_collector_id' value='{{this.collectorID}}' />
                <input type='hidden' name='delete_collector_name' value='{{this.name}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>

            
        </tr>
        {{/each}}
    </tbody>
</table>


{{! CREATE form }}
<h2>Create a Collector</h2>
<form class='cuForm' id='create_collector_form' method='POST' action="/collectors/create">

    <label for='create_collector_name'>Name: </label>
    <input type='text' name='create_collector_name' id='create_collector_name' required />

    <label for='create_collector_email'>Email: </label>
    <input type='email' name='create_collector_email' id='create_collector_email' required />

    <label for='create_collector_address'>Address: </label>
    <input type='text' name='create_collector_address' id='create_collector_address' required />

   <input type='submit' /> 
</form>

{{! UPDATE form }}
<h2>Update a Collector</h2>
<form class='cuForm' id='update_collector_form' method='POST' action="/collectors/update">
    <label for='update_collector_id'>Person to Update: </label>
    <select name='update_collector_id' id='update_collector_id' required>
        <option value='' disabled selected>Select a Collector</option>
        {{#each collectors}}
        <option value='{{this.collectorID}}' required>
            {{this.collectorID}}
            -
            {{this.name}}
            
        </option>
        {{/each}}
    </select>

    <label for="update_name">Name:</label>
    <input type="text" name="update_name" id="update_name" required />

    <label for="update_email">Email:</label>
    <input type="email" name="update_email" id="update_email" required />

    <label for="update_address">Address:</label>
    <input type="text" name="update_address" id="update_address" required />

    <input type='submit' />
</form>

