
<h1>Vinyl Database</h1>
<div class="homepageDescription">
    <p>Gabe Happ-Shine Peter Battisti Group 95</p>
</div>
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each releases.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

      <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each releases}}
        <tr>
            <td>{{this.releaseID}}</td>
            <td>{{this.albumID}}</td>
            <td>{{this.recordLabel}}</td>
            <td>{{this.releaseDate}}</td>
            <td>{{this.price}}</td>
            <form id='delete_release_form'>
                <input type='hidden' name='delete_release_id' value='{{this.releaseID}}' />
                <input type='hidden' name='delete_release_name' value='{{this.recordLabel}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>

            
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Create a Release</h2>
<form class='cuForm' id='create_release_form'>
    <label for='create_release_label'>Label: </label>
    <input type='text' name='create_release_label' id='create_release_label' required />

    <label for='create_release_date'>Date: </label>
    <input type='date' name='create_release_date' id='create_release_date' required />

   <label for="create_release_price">Price:</label>
<input
    type="number"
    name="create_release_price"
    id="create_release_price"
    step="0.01"
    min="0"
    required
/>


    
</form>
</form>
{{! UPDATE form }}
<h2>Update a Album</h2>
<form class='cuForm' id='update_release_form'>
    <label for='update_release_id'>Release to Update: </label>
    <select name='update_release_id' id='update_release_id' required>
        <option value='' disabled selected>Select a Release</option>
        {{#each releases}}
        <option value='{{this.label}}' required>
            {{this.releaseID}}
            -
            {{this.label}}
            {{this.date}}
            {{this.price}}
            
            
        </option>
        {{/each}}
    </select>

    <label for="update_label">New Label:</label>
    <input type="text" label="label" id="update_label" required />

    <label for="update_date">Date:</label>
    <input type="date" date="date" id="update_date" required />

    <label for="update_price">Price:</label>
    <input type="number" name="price" id="update_price" step="0.01" min="0" required />


    <input type='submit' />
</form>
